<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, with=device-width">
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <h1>Freyr</h1>
    </header>
    <div id="app"></div>
    <div class="footer">
        <div class="footer-item">home</div>
        <div class="footer-item">+</div>
        <div class="footer-item">account</div>
    </div>
    <script src='index.js'></script>
  </body>
</html>
