<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <span class="bar-button-wrap"><i class="fa fa-bars" id="bar-button"></i></span>
        <h1>Freyr</h1>
        <a href="/search"><i class="fa fa-search"></i></a>
    </header>
    <div id="app"></div>
    <script src='index.js'></script>
  </body>
</html>
