<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <span class="bar-button-wrap"><i class="fa fa-angle-left" id="back-button"></i></span>
        <h1>Notification</h1>
        <span class="fa"></span>
    </header>
    <div id="app"></div>
    <script src="/notification.js"></script>
  </body>
</html>