<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, with=device-width">
    <title><%= title %></title>
  </head>
  <body>
    <header id="search-header"></header>
    <div id="app"></div>
    <script src='/search.js'></script>
  </body>
</html>
