@import 'base.less';
@import './parts/text_input.less';

.form-container {
  padding-top: 50px;
  .logo-wrapper{
    padding: 30px 0;
    text-align: center;
  }
  .form-action{
    padding: 0 30px;
    button{
      display: block;
      line-height: 34px;
      color: @background-white;
      background: @main-theme;
      border: none;
      width: 100%;
      &:hover{
        background: @main-theme-hover;
      }
    }
  }
}