@import 'base.less';

.home-container {
    font-size: 12px;
    padding-top: 50px;
    .tabs-container {
        .tabs-buttons {
            display: flex;
            background: @background-white;
            .tab-button{
                flex: 1;
                display: flex;
                height: 30px;
                align-items: center;
                justify-content: center;
                button{
                    font-size: 14px;
                    background: none;
                    border: none;
                    outline: none;
                    color: @main-theme;
                }
            }
        }
        .tabs-content{

        }
    }
}