@import "base.less";


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,img {
  border: 0;
}

ol,ul {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  cursor: pointer;
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

input, select {
  margin: 0;
  padding: 0;
  text-shadow: none;
  box-shadow: none;
  text-indent: 0;
  text-transform: none;
  background-image: none;
  border-image-outset: 0;
  font: 12px/1.5 'Arial','Microsoft YaHei UI','Microsoft YaHei','sans-serif';
}

body {
  font: 12px/1.5 'Arial','Microsoft YaHei UI','Microsoft YaHei','sans-serif';
  background: @background-white;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:@main-theme;
    color: @background-white;
    font-size: 16px;
    z-index: 999;
    a{
      color: @background-white;
    }
    h1{
        flex: 1;
        justify-content: center;
        text-align: center;
    }
    .fa{
        display: flex;
        justify-content: center;
        width: 40px;
    }
}
