@import 'base.less';

.user-container {
    padding-top: 50px;
    .user-info-card {
        height: 200px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 40px 0;
        text-align: center;
        .avatar-wrapper{
            height: 80px;
            width: 80px;
            margin: 0 auto;
            .border-radius(40px);
            overflow: hidden;
        }
        .nickname{
            font-size: 16px;
            font-weight: bold;
            color: @main-theme;
            margin-top: 10px;
           text-shadow: -2px 2px 1px rgba(80, 71, 71, 0.1);
        }
    }
    .tabs-buttons{
        display: flex;
        .tab-button{
            border: 1px solid @main-theme;
            flex: 1;
            text-align: center;
            button{
                height: 30px;
                color: @main-theme;
            }
        }
        .tab-button.active{
            background:  @main-theme;
            button{
                color: @background-white;
            }
        }
    }
    .tabs-content{
        .tab-item-container{
            display: none;
        }
        .tab-item-container.active{
            display: block;
        }
    }
    .collection-list {
        .collection-block{
            padding: 10px;
            display: flex;
            align-items: center;
            .collection-content{
                margin: 0 10px;
                flex: 1;
                font-size: 14px;
                color: @deep-grey;
            }
            img{
                height: 40px;
                width: 60px;
                margin-right: 10px;
            }
            .book-title{
                flex: 1;
                font-size: 14px;
                color: @deep-grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            button{
                width: 40px;
                font-size: 12px;
                color: @cloudy-blue;
            }
        }
        .collection-block + .collection-block{
            border-top: 1px solid @cloudy-blue;
        }
    }
    .review-list {
        .review-block{
            padding: 10px;
            display: flex;

            a{
                font-size: 14px;
                color: @deep-grey;
                flex: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            button{
                margin-left: 10px;
                color: @cloudy-blue;
            }
        }
        .review-block{
            border-bottom: 1px solid @cloudy-blue;
        }
    }
}